* {
  margin: 0;
  padding: 0;
  font-family: cairo;
}

::-webkit-scrollbar-track {
  background-color: #f3ecec;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f3ecec;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #3b0c0cc2 0%, #3b0c0cc2 50%, #3b0c0cc2 51%, #3b0c0cc2 100%);
}

.Main {
  width: 100%;
  background-image: url("/img/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px 20px 20px 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #bb6b00;
  color: white;
}

.modal-header h2 {
  font-family: cairo;
}

.modal-body {
  padding: 2px 16px;
	font-size: 0.5rem;
}

.MainContainerr {
  width: 130vh;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.MainContainerr h1 {
	font-weight: lighter;
  color: white;
  font-size: 1.5rem;
	text-shadow: 2px 2px 4px #000000;

}

/* .MainContainerr h3 {
	font-weight: lighter;
	text-align: center;
  color: white;
  font-size: 2.2rem;
}
.MainContainerr h3 span {
	font-weight:bold;
  color: white;
  font-size: 2rem;

} */
/* .MainContainerr h4 {
	font-weight: lighter;
  color: white;
  font-size: 1rem;
} */
.quotation{
  font-size: 30px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}


.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: white;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: white;
  font-size: 3em;
}
p{
 font-weight: lighter;
 text-align: center;
 color: white;
 font-size: 2.2rem;
 text-shadow: 2px 2px 4px #000000;
}
p span{
	font-weight:bold;
  color: white;
  font-size: 2.2rem;

}
footer{
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
	color: white;
	/* text-shadow: 2px 2px 4px #000000; */
		text-shadow: 0 0 3px #000000, 0 0 5px #FFF;
}
.modal-body p {
	font-size: 1rem;
}
input[type=text] {
  width: 100vh;
  padding: 8px 15px;
  /* margin: 8px; */
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: cairo;
  font-weight: bold;
}

.submit {
  /* height: 100%; */
  width: 10%;
  color: #fff;
  background-color: #bb6b00;
  border-color: #bb6b00;
  font-weight: bold;
  font-family: cairo;
  padding: 14px 20px;
  margin-left: 15px;
  border: none;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
  text-align: center;
}

input:hover {
  background-color: rgb(223, 217, 217);
  color: rgb(0, 0, 0);
}

.input {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.result {
  width: 73%;
  background-color: #2b1919;
  padding: 8px 15px;
  margin-right: 21.5vh;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 0px 0px 10px 10px;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 50vh;
}

.item {
  margin: 5px;
  /* background-color: #ccc; */
  color: rgb(255, 255, 255);
  font-family: cairo;
  font-weight: bold;
  border-bottom: 2px solid wheat;
}

.result :last-child {
  border-bottom: none;
}

@media (max-width:768px) {
  .MainContainerr {
    width: 100%;
  }
  input[type=text] {
    width: 70%;
  }
  input[type=submit] {
    width: 30%;
  }
  .result {
    margin-right: 25%;
    width: 60%;
    font-weight: 50;
    max-height: 30vh;
  }
}
